{% load static %}

<!doctype html>
<html>
<head>
  <title>Bus Tracker Map</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bus_map.css' %}">
</head>
<body>
  <div id="map"></div>
  <h2>🚍 Live Bus Locations</h2>
  {% for loc in locations %}
  <div>
      <strong>Bus: {{ loc.bus }}</strong><br>
      Lat: {{ loc.latitude }}, Lon: {{ loc.longitude }}<br>
      📍 Address: {{ loc.address }}
  </div>
  <hr>
  {% endfor %}
  <script src="{% static 'js/map.js' %}"></script>
  <script>
    let buses = JSON.parse('{{ buses|safe|escapejs }}');
    initMap(buses);
  </script>
</body>
</html>