<!-- <h1>Welcome to Bus Tracking System</h1>
<ul>
  <li><a href="{% url 'bus_list' %}">All Buses</a></li>
  <li><a href="{% url 'stop_list' %}">All Stops</a></li>
  <li><a href="{% url 'location_list' %}">Live Locations</a></li>
</ul> -->



{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bus Tracking System</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Welcome to Bus Tracking System</h1>

  <ul>
    <li><a href="{% url 'bus_list' %}">All Buses</a></li>
    <li><a href="{% url 'stop_list' %}">All Stops</a></li>
    <li><a href="{% url 'location_list' %}">Live Locations</a></li>
    <li><a href="{% url 'bus_map' %}">Bus Map</a></li>
  </ul>

  <!-- Button for bus driver interface -->
  <button onclick="window.location.href='{% url 'driver_interface' %}'">
    Driver Interface
  </button>
</body>
</html>
